<p>Op wat wilt u zoeken?</p>
<form action='/search_by_name'>
<input name="naam" type="text" />
<input type='submit' value='Search' />
</form>

<% if @companies.empty? %>
        <span>There were no results for your query</span><br/><br/>
<% else %>
	<% for company in @companies %>
		Result: <% company.title %>
	<% end %>
<% end %>

<% link_to 'Toon alle bedrijven' , companies_path %>


