@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration:none;
}
a:hover {
	color:#e1400f;
	background:none;
	
}
body {
	background-image:url(../images/bg.png);
	background-repeat:repeat-x;
	background-color:#FFF;
}

#logo {
	margin-top:35px;
	margin-left:50px;
}

#nav {
	clear:both;
	height:150px;
}
#zoeken, #registreren, #inloggen, #contact {
	float:left;	
	margin-left: 40px;
	display:block;
	text-align:center;
}
#zoekenMenuButton, #registrerenMenuButton, #inloggenMenuButton, #contactMenuButton  {
	width: 55px;
	height: 55px;
}

#zoekenMenuTekst a, #registrerenMenuTekst a, #inloggenMenuTekst a, #contactMenuTekst a, h1 {
	margin-top:7px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	clear:both;
}

#zoekenMenuTekst a {
	color:#e1400f;	
}

#registrerenMenuTekst a {
	color:#ed6503;	
}

#inloggenMenuTekst a {
	color:#f39700;	
}

#contactMenuTekst a {
	color:#ffc300;	
}

#content {
	margin-top: 30px;
	margin-left: 60px;
}
#content1, #content2 {
	width:275px;
	background-color:#cbcaca;
	float:left;
	margin-bottom: 50px;
}
h1 {
	color:#eb6017;
	font-size:16px;
}

#content1 h1 {
	padding-left:10px;
	padding-top: 5px;
}

#content2 h1 {
	padding-left:10px;
	padding-top: 5px;
}

hr {
	margin-top:5px;
	background-color:#eb6017;
	color:#eb6017;
	height:2px;
	border:hidden;
}

#chart-icon {
	margin-top: -81px;	
	margin-left: 185px;
	opacity:0.8;
	width:100px;
	height:100px;
}

#content2 {
	margin-left:50px;	
}

#search-icon {
	margin-top: -75px;	
	margin-left: 200px;
	opacity:0.8;
	width:100px;
	height:100px;
}

#content1 p, #content2 p {
	padding-left:10px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:10px;
}
